[Desktop Entry]
Type=Application
Name=Lyra Vega
Comment=Control Center
GenericName=Configurações do sistema
Exec=/usr/bin/vega-xfce
Icon=vega
Terminal=false
Categories=Settings;System;
StartupWMClass=org.lyraos.Vega.Xfce
